.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex: 1;
}
.logo>:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.logo>span {
    font-weight: bold;
    font-size: 1.5rem;
}

.menu {
    flex: 1;
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: center;
    z-index: 99;
}
.menu>li:hover {
    cursor: pointer;
    color: var(--themeRed);
    transition: ease 1s;
    transform: scale(1.2);
    text-transform: bold;
}

.rightSide{
    flex: 1;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.cart{
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 99;
}
.cart:hover{
    transform: scale(1.2);
}

.badge{
    position: absolute;
    display: flex;
    background-color: var(--themeRed);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -0.5rem;
}



/*======================= SMALL SCREEN =========================*/
.app__navbarsmallscreen {
    display: none;
}

.app__navbarsmallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: 0.5s ease;

    flex-direction: column;
    z-index: 5;
}

.app__navbarsmallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbarsmallscreen_links{
    list-style: none;
}

.app__navbarsmallscreen_links li{
    margin: 2rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}

.app__navbarsmallscreen_links li:hover {
    color: var(--color-white);
    border-bottom: 3px solid var(--color-grey);
}

@media screen and (max-width: 1150px) {
    .app__navbarsmallscreen {
        display: flex;
    }
}