.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 6rem;
}

.heading{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: flex-start;
    animation-name: flip;
}

.heading>:nth-child(1) {
    color: var(--themeRed);
    font-size: 1rem;
    margin-bottom: 2rem;
}

.heading>:nth-child(2), .heading>:nth-child(3) {
    font-size: 2rem;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    align-items: center;
    justify-content: space-around;
}

.bg{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #82c2fd;
    border-radius: 2rem 1rem;
    width: 20rem;
    height: 23rem;
    padding-top: 1rem;
    gap: 2rem;
}
.bg:hover{
    background: #fff;
}

.pizza{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
   

}
.pizza:hover{
    cursor: pointer;
}

.ImageWrapper{
    display: flex;
    justify-content: center;
    height: 16rem;
    width: 18rem;
    position: relative;
    overflow: hidden;
    border-radius: 2rem 1rem;

}

.ImageWrapper>span>img:hover{
    transform: scale(1.1);
}