.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 6rem;
}

.heading{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: flex-start;
}

.heading>:nth-child(1) {
    color: var(--themeRed);
    font-size: 1rem;
    margin-bottom: 2rem;
}

