.container{
    display: flex;
    padding: 2rem;
    gap: 5rem;
    margin-top: 3rem;
    background: rgba(14, 14, 201, 0.788);
}

.imageWrapper{
    position: relative;
    width: 30%;
    height: 25rem;
    overflow: hidden;
    border-radius: 2rem 1rem;
}